<h1>Тема “Вычисления с помощью Numpy”</h1>
<b>Задание 1</b>

In [ ]:
import numpy as np
a = np.array([[1, 6],
             [2, 8],
             [3, 11],
             [3, 10],
             [1, 7]])
mean_a = np.mean(a, axis=0)
mean_a

<b>Задание 2</b>

In [ ]:
a_centered = np.subtract(a, mean_a)
a_centered

<b>Задание 3</b>

In [ ]:
a_centered_sp = np.dot(a_centered[:,0], a_centered[:,1])
a_centered_sp

In [ ]:
cov_try = a_centered_sp / (a_centered.shape[0]-1)
divided

<b>Задание 4</b>

In [ ]:
np.cov(a.transpose())

<h1>Тема “Работа с данными в Pandas”</h1>
<b>Задание1</b>

In [ ]:
import pandas as pd
authors = pd.DataFrame({"author_id": [1, 2, 3],
                        "author_name": ['Тургенев', 'Чехов', 'Островский']})
books = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3],
                     'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], 
                     'price':[450, 300, 350, 500, 450, 370, 290]}, 
                      columns=['author_id', 'book_title', 'price'])

<b>Задание2</b>

In [ ]:
authors_price = pd.merge(authors, books, on='author_id')
authors_price

<b>Задание3</b>

In [ ]:
top5=authors_price.nlargest(5, 'price')
top5

<b>Задание 4</b>

In [164]:
df1 = authors_price.groupby('author_name').agg({'price': 'min'}).rename(columns={'price':'min_price'})
df2 = authors_price.groupby('author_name').agg({'price': 'max'}).rename(columns={'price':'max_price'})
df3 = authors_price.groupby('author_name').agg({'price': 'mean'}).rename(columns={'price':'mean_price'})
authors_stat=pd.concat([df1, df2, df3], axis = 1)
authors_stat

             min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000

<b>Задание 5</b>

In [166]:
df1 = pd.DataFrame({'cover':['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']}, columns=['cover'])
authors_price = pd.concat([authors_price, df1], axis = 1)
authors_price

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [ ]:
?pd.pivot_table

In [168]:
book_info = pd.pivot_table(authors_price, values='price', index=['author_name'],
                    columns=['cover'], aggfunc=np.sum, fill_value=0)
book_info

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950

In [169]:
book_info.to_pickle('book_info.pkl')

In [170]:
book_info2 = pd.read_pickle('book_info.pkl')

In [171]:
book_info==book_info2

cover        мягкая  твердая
author_name
Островский     True     True
Тургенев       True     True
Чехов          True     True